.product-image {
  width: 14rem;
  height: 9rem;
}
.card-width {
  position: relative;
  max-width: 10rem;
  z-index: 1;
  top: -1rem;
  left: 2rem;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-box-shadow: 1.4px 2px 5px 0px rgba(158, 158, 158, 1);
  -moz-box-shadow: 1.4px 2px 5px 0px rgba(158, 158, 158, 1);
  box-shadow: 1.4px 2px 5px 0px rgba(158, 158, 158, 1);
}
.title {
  font-size: 0.8rem;
  font-weight: 600;
}
.description {
  font-size: 0.7rem;
}
.price {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(0, 202, 202);
}
.button {
  background-color: rgb(0, 202, 202);
  color: #fff;
  font-weight: 500;
  width: 100%;
  border: none;
}
.button:hover {
  background-color: rgb(1, 149, 149);
}
.product {
  width: inherit;
}
